/.kitchen.local.yml
/.kitchen/
/.vagrant/
/Vagrantfile
/local-mode-cache/
/node.json
/nodes/*.json
/outlyer-agent.exe
/test/integration/default/.kitchen/
/test/integration/default/integration_test.yml
