{
  "outlyer": {
    "agent": {
      "agent_key":" 0eedeff1-ecb6-4857-8423-3743d6eafcd5",
      "labels": [
        ["role", "<TEMP_ID>"]
      ],
      "package": {
        "version": "0.0.30-1"
      }
    }
  }
}
